@page "/Create/{id}" 
@using HotelBlazro.Data
@using Microsoft.VisualBasic.CompilerServices
@using System.Data.Common
@using System.Runtime.CompilerServices
@inject IHotelService _service
@inject NavigationManager _manager
<h3 xmlns="http://www.w3.org/1999/html">Create</h3>
@inject IJSRuntime JsRuntime
<div class="row mt-2 mb-5">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <EditForm Model="@RoomEdit" OnValidSubmit="@HandleValidSubmit">
                    <DataAnnotationsValidator/>
                    <ValidationSummary/>

                    <div class="form-group">
                        <label>
                            Name
                            <InputText id="name" @bind-Value="RoomEdit.Name" class="form-control" />
                        </label>
                    </div>
                     <div class="form-group">
                        <label>
                            Active
                            <InputCheckbox id="active" @bind-Value="RoomEdit.Active" class="form-control" />
                        </label>
                    </div>

                     <div class="form-group">
                        <label>
                            Price :
                            <InputNumber id="price" @bind-Value="RoomEdit.Price" class="form-control" />
                        </label>
                   </div>

                     <div class="form-group">
                        <label>
                            Price :
                            <InputNumber id="persons" @bind-Value="RoomEdit.Persons" class="form-control" />
                        </label>
                   </div>

                     <div class="form-group">
                        <label>
                            RoomNumber :
                            <InputText id="roomnumber" @bind-Value="RoomEdit.RoomNumber" class="form-control" />
                        </label>
                    </div>
                    <br />
                    <div class="card">
                        <div class="card-body">
                            @foreach (var supp in RoomEdit.Supplements)
                            {
                                 <div class="form-group">
                                    <label class="alert-info">
                                        Description :
                                        <InputText id="Desc" @bind-Value="supp.Description"/>
                                    </label>
                                 </div>
                               <div class="form-group">
                                    <label>
                                        RoomNumber :
                                        <InputNumber id="Pricesupp" @bind-Value="supp.Price"/>
                                    </label>
                               </div>
                                <div class="form-group">
                                    <label>
                                        RoomNumber :
                                        <InputCheckbox id="Activesupp" @bind-Value="supp.Selected"/>
                                    </label>
                                </div>
                            }
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                    <NavLink href="/" class="btn btn-secondary">Home</NavLink>
                </EditForm>

            </div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public string Id { get; set; }

    private Room RoomEdit { get; set; } = new Room();

    protected override void OnInitialized()
    {
        base.OnInitialized();
       
    }

    protected override  Task OnInitializedAsync()
    {
        int id = Convert.ToInt32(Id);
        if (id != 0)
        {
            return Task.FromResult()
            RoomEdit = _service.GetRoom(id).Result;
        }

    }

    private async Task HandleValidSubmit()
    {
        _service.AddUpdateRoom(RoomEdit);
        await JsRuntime.ShowSucces("Room Saved");
        _manager.NavigateTo("/");
    }

}